@import url('https://fonts.cdnfonts.com/css/sf-pro-display');

body {
    font-family: SF Pro Display, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #F5F3F0;
    color: #333;
}
header {
    background: #522d63;
    color: white;
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
	font-size: 20px;
	font-weight: bold;
	color: #333;
    text-decoration: none;
}

main {
    padding: 20px;
	animation: fadeInUp 1.5s ease forwards;
}

section {
    margin-bottom: 40px;
}

.app-card {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 20px;
}

.app-card h3 {
    margin: 0 0 10px;
}

button {
   align-items: center;
  appearance: none;
  background-color: #fff;
  border-radius: 24px;
  border-style: none;
  box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px,rgba(0, 0, 0, .14) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0;
  box-sizing: border-box;
  color: #3c4043;
  cursor: pointer;
  display: inline-flex;
  fill: currentcolor;
  font-family: "Google Sans",Roboto,Arial,sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 48px;
  justify-content: center;
  letter-spacing: .25px;
  line-height: normal;
  max-width: 100%;
  overflow: visible;
  padding: 2px 24px;
  position: relative;
  text-align: center;
  text-transform: none;
  transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1),opacity 15ms linear 30ms,transform 270ms cubic-bezier(0, 0, .2, 1) 0ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: auto;
  will-change: transform,opacity;
  z-index: 0;
}

.button-17:hover {
  background: #F6F9FE;
  color: #174ea6;
}

.button-17:active {
  box-shadow: 0 4px 4px 0 rgb(60 64 67 / 30%), 0 8px 12px 6px rgb(60 64 67 / 15%);
  outline: none;
}

.button-17:focus {
  outline: none;
  border: 2px solid #4285f4;
}

.button-17:not(:disabled) {
  box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}

.button-17:not(:disabled):hover {
  box-shadow: rgba(60, 64, 67, .3) 0 2px 3px 0, rgba(60, 64, 67, .15) 0 6px 10px 4px;
}

.button-17:not(:disabled):focus {
  box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}

.button-17:not(:disabled):active {
  box-shadow: rgba(60, 64, 67, .3) 0 4px 4px 0, rgba(60, 64, 67, .15) 0 8px 12px 6px;
}

.button-17:disabled {
  box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}
}

}

.product-grid {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
	 display: block;
	 text-align: center;
}

.product-item {
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: 10px 0; /* Установите вертикальный отступ между элементами */
    text-align: center;
    width: 25%; /* Убедитесь, что элемент занимает всю ширину контейнера */
    padding: 10px;
	text-align: center;
}

.product-item img {
    max-width: 100%;
    height: auto;
}

.fontface {
  font-family: "MyCustomFont";
  src: url("fonts/CenturyGothic.woff2") format('woff2');
}
 
.products {
    display: flex;
    justify-content: space-between;
	 display: block;
}

.product {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    width: 30%;
    text-align: center;
	 display: block;
}

.add-to-cart {
    background-color: #522d63;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 30px;
}

.add-to-cart:hover {
    background-color: #F5F3F0;
}

.cart {
    margin-top: 20px;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 5px;
}

#cart-items {
    margin-bottom: 10px;
}

 }
        main {
            margin-top: 20px;
            padding: 20px;
            background-color: #fff;
            border-radius: 5px;
            box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);

.fontface2 {
  font-family: "MyCustomFont";
  src: url("ProstoOne-Regular.tff") format('tff');
}

footer {
	background: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
    background-color: ;
    color: white;
    position: relative;
    bottom: 0;
    width: 100%;
}
